:root{
  /* Font */
	--font: 'Poppins', 'Roboto', 'Open Sans', sans-serif;

  /* Font Size Clamp (560-700)*/
  --fs-30-36: clamp(30px, 0.375rem + 4.2857vw, 36px); 
  --fs-20-24: clamp(20px, 0.25rem + 2.8571vw, 24px);
  --fs-14-16: clamp(14px, 0.375rem + 1.4286vw, 16px);

  /* Aspect Ratio */
  --ratio-1: 3/2;

  /* Solid Colors */
  --red: rgb(255, 74, 53);
  --orange: rgb(255, 230, 0);
  --yellow: rgb(206, 238, 75);
  --green: rgb(57, 227, 121);
	--blue-1: hsl(222, 75%, 50%);
	--blue-2: hsl(222, 71%, 42%);
	--white-1: hsl(0, 0%, 90%);
	--white-2: hsl(0, 0%, 75%);
	--white-3: hsl(0, 0%, 65%);
	--gray-1: hsl(222, 2%, 27%);
	--gray-2: hsl(222, 2%, 20%);
	--gray-3: hsl(222, 2%, 16%);
	--black-1: hsl(222, 2%, 13%);
	--black-2: hsl(222, 2%, 8%);

  /* Gradient */
  --gradient-1: linear-gradient(
    to bottom right,
    hsl(222, 2%, 27%) 0%, 
    hsla(222, 2%, 27%, 0) 55%
  );
  --gradient-2: linear-gradient(
    to bottom right,
    hsl(222, 75%, 50%) 0%, 
    hsla(222, 2%, 27%, 0) 55%
  );
  --gradient-3: linear-gradient(
    135deg,
    hsla(222, 75%, 50%, 0.6) 0%, 
    hsla(222, 75%, 50%, 0) 75%
  ), hsl(222, 2%, 13%);

  /* Shadow */
  --shadow-1: 0 0 90px hsla(0, 0%, 0%, 0.35);
  --shadow-2: 0 0 10px hsla(0, 0%, 0%, 0.2);

  /* border */
  --border-white: 1px solid hsl(0, 0%, 65%);
  --border-gray-1: 1px solid hsl(222, 2%, 27%);
  --border-gray-2: 1px solid hsl(222, 2%, 20%);
}
/* Default Styles */
*, *::before, *::after {
  text-decoration: none;
	box-sizing: border-box;
  scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}
h1{
  font-size: var(--fs-30-36);
  line-height: 100%;
}
h1::after{
  content: '';
	background: var(--blue-2);
	display: flex;
	height: 5px;
	width: clamp(85px, -7.8125rem + 37.5vw, 100px);
	margin: 8px 0 16px;
	border-radius: 50px;
}
h2{
  font-size: var(--fs-20-24);
	letter-spacing: 1px;
	margin-bottom: 10px;
  line-height: 100%;
}
h2 span{ color: var(--blue-2); }
h4, li, th, td{ font-size: var(--fs-14-16); }
p{
  color: var(--white-2);
  font-size: var(--fs-14-16);
}
ul{ list-style: none; }
hr{ border: var(--border-gray-1); }
button{
  background: none;
  font-family: var(--font);
  border: none;
  cursor: pointer;
}
.Information section:not(:last-child),
article section:not(:last-child){	margin-bottom: 30px; }

body{
  display: flex;
  justify-content: center;
  background: var(--black-2);
  font-family: var(--font);
  color: var(--white-1);
  -webkit-tap-highlight-color: transparent;
}

/* --==Main==-- */
main{
  overflow: hidden scroll;
	height: 100vh;
  width: 100%;
}
main > div{
  display: flex;
  margin-inline: auto;
  padding-block: 50px;
  gap: 20px;
  width: 1350px;
}

/* Scroll Bar */
body.desktop ::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
body.desktop ::-webkit-scrollbar-thumb{
  background: var(--gray-3);
  /* box-shadow: inset 1px 1px 0 var(--gray-1), inset -1px -1px 0 var(--gray-1); */
  /* border: 1px solid var(--gray-1); */
  /* border-radius: 10px; */
}
body.desktop ::-webkit-scrollbar-thumb:hover{ background: var(--gray-2); }

/* --==Information==-- */
.Information{
	background: var(--black-1);
	position: sticky;
	top: 30px;
	height: fit-content;
	padding: 20px;
  box-shadow: var(--shadow-1);
	border: var(--border-gray-1);
	border-radius: 20px;
}
.Information .infoBtn svg,
.Information .infoBtn{ display: none; }
.Information .inner-2 hr:nth-child(1){ margin: 30px 0; }
.Information .inner-2 hr:nth-child(3){ margin: 30px 0 20px }
/* User */
.User{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.User img{
  object-fit: cover;
  object-position: 0 7%;
  width: 160px;
  aspect-ratio: 1;
  border: var(--border-gray-2);
  border-radius: 50%;
}
.User h2{ margin: 7px 0 0 0; }
.User p{ color: var(--white-3); }
/* Profile */
.Profile ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Profile li{
  display: flex;
  align-items: center;
}
.Profile .Icon{
  background: var(--gray-3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  margin-right: 12px;
  border: var(--border-gray-2);
  border-radius: 15px;
}
.Profile img{ width: 20px; }
.Profile p{
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* SocMed */
.SocMed{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.SocMed a{ display: flex; }
.SocMed svg{
  fill: var(--white-3);
  width: 20px;
  transition: fill 0.3s;
}
.SocMed svg:hover{ fill: var(--white-2); }

/* --==Main Content==-- */
.Main-Content{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}
.Main-Content article{ display: none; }
.Main-Content article.show{
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: fade-up 0.3s;
}
@keyframes fade-up{
  0%{
    transform: translateY(10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* --==Nav Bar==-- */
nav{ z-index: 2; }
nav ul{
  display: flex;
	gap: 26px;
	padding: 0 30px;
}
nav button{
  font-size: clamp(12px, 0.2727rem + 2.7273vw, 15px);
	color: var(--white-1);
	letter-spacing: 1px;
  margin: 15px 0;
	transition: color 0.3s text-shadow 0.3s;
}
nav button:hover{	color: var(--white-3); }
nav .current,
nav .current:hover{
  color: var(--blue-1);
  text-shadow: 0 0 1px var(--blue-2);
}

/* --==Main Div==-- */
.Main-Div{
	background: var(--black-1);
	position: relative;
	width: 100%;
	padding: 25px;
	border: var(--border-gray-1);
	border-radius: 20px;
}
.Main-Div::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  box-shadow: var(--shadow-1);
  border-radius: inherit;
}

/* --==About Me==-- */
.About-Me{
  display: flex;
  gap: 20px;
}
.About-Me img{
  object-fit: cover;
  object-position: 43% 0%;
  width: min(100%, 260px);
  aspect-ratio: 3/4;
  border-radius: 7px;
}
/* txt */
.About-Me .txt{
	text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* Skills */
.Skills .Cont{
  user-select: none;
  margin-top: 15px;
  display: flex;
  gap: 20px;
}
.Skills ul{
  position: relative;
  list-style: none;
  height: fit-content;
  width: 100%;
  padding: 20px 15px;
  border: 2px solid var(--gray-1);
  border-radius: 15px;
}
.Skills ul li:not(:last-child){ margin-bottom: 10px; }
.Skills h4{
  background: var(--black-1);
  color: var(--blue-2);
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 0 5px;
}
.Skills .txt{
  font-size: var(--fs-14-16);
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.Skills .Bar-Wrap{
  position: relative;
  border: 4px solid var(--gray-2);
  border-radius: 13px;
}
.Skills .Prog{
  background: linear-gradient(
    to right,
    var(--blue-2),
    var(--blue-1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  border-radius: 7px;
  }
.Skills .fill{
  background: linear-gradient(
    to right,
    var(--gray-3) 50%,
    var(--black-1)
  );
  width: 100%;
  border-radius: 7px;
  }
.Skills .Prog::after{
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Skills .lvl{
  display: flex;
  align-items: flex-end;
}
.Main-Content article.show .Skills .a1 .Prog{
  animation: show-prog-a1 0.5s;
  width: 20%;
}
@keyframes show-prog-a1{
  0%{ width: 0; }
  100%{ width: 20%; }
}
.Skills .a2 .Prog{
  animation: show-prog-a2 0.5s;
  width: 40%;
}
@keyframes show-prog-a2{
  0%{ width: 0; }
  100%{ width: 40%; }
}
.Skills .a3 .Prog{
  animation: show-prog-a3 0.5s;
  width: 60%;
}
@keyframes show-prog-a3{
  0%{ width: 0; }
  100%{ width: 60%; }
}
.Skills .a4 .Prog{
  animation: show-prog-a4 0.5s;
  width: 80%;
}
@keyframes show-prog-a4{
  0%{ width: 0; }
  100%{ width: 80%; }
}
.Skills .a5 .Prog{
  animation: show-prog-a5 0.5s;
  width: 100%;
}
@keyframes show-prog-a5{
  0%{ width: 0; }
  100%{ width: 100%; }
}
.Skills .a1 .Prog::after{ content: '20%'; }
.Skills .a2 .Prog::after{ content: '40%'; }
.Skills .a3 .Prog::after{ content: '60%'; }
.Skills .a4 .Prog::after{ content: '80%'; }
.Skills .a5 .Prog::after{ content: '100%'; }
.Skills .a1 .lvl::after{ content: 'Novice'; }
.Skills .a2 .lvl::after{ content: 'Fundamentals'; }
.Skills .a3 .lvl::after{ content: 'Intermediate'; }
.Skills .a4 .lvl::after{ content: 'Advance'; }
.Skills .a5 .lvl::after{ content: 'Professional'; }

/* --==Portfolio==-- */
.Portfolio section{
  display: flex;
  gap: 0 20px;
}
.Portfolio section:nth-child(odd){ flex-direction: row-reverse; }
.Portfolio section:nth-child(even){ flex-direction: row; }
.Portfolio section:not(:last-child){ margin-bottom: 60px; }
.Portfolio .img{
  background: green;
  border-radius: 15px;
}
.Portfolio .img{
  width: 45%;
  aspect-ratio: var(--ratio-1);
}
.Portfolio .Content{
  width: 55%;
  height: fit-content;
}
.Portfolio .Content > div:first-child{ margin-block: 15px; }
.Portfolio .View-Btn{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.Portfolio .View-Btn a{
  background: var(--gradient-1);
  font-size: var(--fs-14-16);
  color: var(--white-2);
  position: relative;
  z-index: 1;
  padding: 0.5em 0.875em;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  transition: 0.3s;
}
.Portfolio .View-Btn a::before{
  content: '';
  background: var(--black-1);
  position: absolute;
  inset: 1px;
  z-index: -1;
  border-radius: inherit;
}
.Portfolio .View-Btn a:hover{ background: var(--gradient-2); }
.Portfolio .View-Btn a:hover::before{ background: var(--gradient-3); }

/* --==Course==-- */
.Subjects{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*make responsive*/
  gap: 20px 15px;
  list-style: none;
  color: hsl(0, 0%, 90%);
  margin-top: 40px;
}
.Subjects .img{
  overflow: hidden;
  display: flex;
  border-radius: 7px;
}
.Subjects img{
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
  transition: transform 0.5s;
}
.Subjects span{ color: hsl(222, 4%, 65%); }
.Subjects li:hover img{
  transform: scale(1.1);
  cursor: pointer;
}
.Subjects li .Course-Code{ transition: color 0.5s; }
.Subjects li:hover .Course-Code{ color: var(--blue-1); }
.Subjects p{ margin: 5px 0 0 5px; }
/* --==Course Modals==-- */
.course-modal.show,
.course-modal .layout.show{ display: flex; }
.course-modal{
  display: none;
  justify-content: center;
  align-items: center;
  background: hsla(222, 2%, 6%, 60%);
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 100%;
}
.course-modal .layout{
  display: none;
  background: var(--black-1);
  overflow: hidden auto;
  width: 1200px;
  height: 90vh;
  padding: 20px;
  box-shadow: var(--shadow-1);
  border: var(--border-gray-1);
  border-radius: 20px;
}
body.desktop .course-modal ::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
body.desktop .course-modal ::-webkit-scrollbar-track{ margin-block: 20px; }
body.desktop .course-modal ::-webkit-scrollbar-thumb{
  background: var(--gray-1);
  height: 5px;
  border-radius: 8px;
}
.course-modal ::-webkit-scrollbar-thumb:hover{ background: var(--gray-2); }
.course-modal section{
  height: fit-content;
  width: 100%;
}
.course-modal ul{
  color: var(--white-1);
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}
.course-modal ol{
  padding-left: 16px; 
  margin-bottom: 10px;
}
.course-modal li::marker{ font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; }
.course-modal li:not(:last-child){ margin-bottom: 5px; }
.course-modal button{
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  color: var(--white-1);
}
.course-modal img{
  object-fit: cover;
  border-radius: 10px;
}
.course-modal .gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.course-modal .gallery img{
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
  transition: transform 0.5s;
}
.course-modal .score{
  padding: 13px 24px;
  width: fit-content;
  border: var(--border-gray-1);
  border-radius: 30px;
  margin-bottom: 12px;
}
.course-modal .table-cont{
  overflow: auto hidden;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.course-modal table{ border-collapse: collapse; }
.course-modal table td,
.course-modal table th{
  padding: 5px;
  border: 1px solid var(--white-2);
}

/* --==Resume==-- */
.Resume .Cont{
  position: relative;
  margin-left: 40px;
}
.Resume .Cont::before{
  content: '';
  background: var(--gray-2);
  position: absolute;
  top: -8px;
  left: -25px;
  height: calc(100% + 8px);
  width: 2px;
}
.Resume .Cont li:not(:last-child){ margin-bottom: 14px; }
.Resume h2{
  background: var(--gray-3);
  width: fit-content;
  margin: 0 0 8px;
  padding: 10px 15px;
  border: var(--border-gray-2);
  border-radius: 10px;
}
.Resume h3{ color: var(--white-1); }
.Resume .Bullet{ position: relative; }
.Resume .Bullet::before{
  content: '';
  background: var(--blue-2);
  position: absolute;
  top: 6.5px;
  left: -30px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
}
.Resume span{
  font-size: var(--fs-14-16);
  color: var(--blue-2);
}

/* --==Contact==-- */
.Contact hr{ margin: 25px 0; }
/* Form */
.Form{
  display: flex;
  gap: 20px;
}
.Form > div,
.Form form{ width: 100%; }
.Form .Inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.Form .Inputs div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 10px;
}
.Form input{
  padding: 7px;
}
.Form textarea{
  --padding: 7px;
  height: calc(6lh + 2 * (var(--padding) + 2px));
  /* field-sizing: content; */
  line-height: 1.5;
  padding: var(--padding);
  padding-inline: calc(var(--padding) + calc((1lh - 1ex) / 2));
  resize: none;
}
.Form input,
.Form textarea{
  background: var(--gray-3);
  font-family: 'Roboto', 'Segoe UI', 'Open Sans', sans-serif;
  color: var(--white-1);
  outline: none;
  border: var(--border-gray-2);
  border-radius: 7px;
}
.Form input:focus,
.Form textarea:focus{ border: var(--border-white); }
.Form .btn{
  background: var(--gradient-1);
  font-size: var(--fs-14-16);
  color: var(--white-1);
  position: relative;
  z-index: 1;
  padding: 0.75em 1em;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  transition: 0.3s;
}
.Form .btn::before{
  content: '';
  background: var(--black-1);
  position: absolute;
  inset: 1px;
  z-index: -1;
  border-radius: inherit;
}
.Form .btn:hover{ background: var(--gradient-2); }
.Form .btn:hover::before{ background: var(--gradient-3); }
/* Footer */
footer{
  font-size: var(--fs-14-16);
  color: var(--white-3);
  text-align: center;
}
/* --==Responsive==-- */
@media(max-width: 1400px){
  /* --==Main==-- */
  main > div{
    width: 1200px;
  }
}
@media(max-width: 1250px){
  /* --==Main==-- */
  main > div{
    flex-direction: column;
    width: 900px;
  }
  /* --==Information==-- */
  .Information{
    display: grid;
    grid-template-rows: max-content 0fr;
    position: static;
    /* width: 100%; */
    transition: grid-template-rows 0.5s;
  }
  .Information.show{ grid-template-rows: max-content 1fr; }
  .Information .inner-2{
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .Information.show .inner-2{ opacity: 1; }
  .Information .infoBtn{
    background: var(--gray-3);
    font-size: 15px;
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 12px 30px;
    border-bottom: var(--border-gray-1);
    border-left: var(--border-gray-1);
    border-radius: 0 20px 0 20px;
    cursor: pointer;
  }
  .Information .infoBtn{ display: flex; }
  .Information .infoBtn:hover p,
  .Information.show .infoBtn p{
    color: var(--blue-1);
    text-shadow: 0 0 1px var(--blue-1);
  }
  /* User */
  .User{
    text-align: left;
    flex-direction: row;
    position: relative;
    gap: 20px;
    margin-top: 0;
  }
  .User img{ width: 140px; }

  /* --==Main Content==-- */
  /* .Main-Content{ width: 100%; } */
  
  /* --==Course Modals==-- */
  .course-modal .layout{ width: 900px; }
}
@media(max-width: 1250px) and (min-width: 740px){
  /* --==Information==-- */
  /* Profile */
  .Profile ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 940px){
  /* --==Main==-- */
  main > div{ width: 700px; }

  /* --==About Me==-- */
  .About-Me{ flex-direction: column; }
  .About-Me img{ margin-inline: auto; }
  /* Skills */
  .Skills .Cont{ grid-auto-columns: calc((100% - 120px) / 4); }

  /* --==Portfolio==-- */
  .Portfolio section:nth-child(odd),
  .Portfolio section:nth-child(even){ flex-direction: column; }
  .Portfolio section:not(:last-child){ margin-bottom: 50px; }
  .Portfolio .img,
  .Portfolio .Content{ width: 100%; }

  /* --==Course==-- */
  .Subjects{ gap: 12px; }

  /* --==Course Modals==-- */
  .course-modal .layout{ width: 700px; }
  .course-modal .gallery{ grid-template-columns: repeat(2, 1fr); }
}
@media(min-width: 740px){
  /* --==Nav Bar==-- */
  nav{
    background: var(--gray-3);
    position: absolute;
    right: 0;
    border: var(--border-gray-1);
    border-radius: 0 20px 0 20px;
  }
}
@media(max-width: 740px){
  :root{
    /* Aspect Ratio */
    --ratio-1: 8/5;
  }

  /* --==Main==-- */
  main > div{ width: 520px; }

  /* --==Information==-- */
  .Information .infoBtn{ padding: 10px 14px; }
  .Information .infoBtn p{ display: none; }
  .Information .infoBtn svg{
    display: flex;
    stroke: var(--white-3);
    height: 20px;
    transition: 0.3s;
  }
  .Information .infoBtn:hover svg{
    stroke: var(--blue-1);
    filter: drop-shadow(0 0 0.5px var(--blue-1));
  }
  .Information.show .infoBtn svg{
    stroke: var(--blue-1);
    filter: drop-shadow(0 0 0.5px var(--blue-1));
    transform: rotate(180deg);
  }

  /* --==Nav Bar==-- */
  nav{
    --black-1: hsl(222, 5%, 13%, 0.7);
    
    background: var(--black-1);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: var(--border-gray-1);
    border-radius: 20px 20px 0 0;
  }
  nav ul{
    /* gap: clamp(6px, 0.0568rem + 1.8182vw, 8px); */
    gap: clamp(7px, -0.3864rem + 4.5455vw, 12px);
    padding: 12px 0;
  }
  nav button{ margin: 0; }

  /* --==About Me==-- */
  /* Skills */
  .Skills .Cont{ flex-direction: column; }

  /* --==Course==-- */
  .Subjects{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }

  /* --==Course Modals==-- */
  .course-modal button{
    top: 10px;
    right: 25px;
    width: 18px;
  }
  .course-modal .layout{ width: 520px; }
}
@media(max-width: 560px){
  :root{
    /* shadow */
    --shadow-1: 0 0 45px hsla(0, 0%, 0%, 0.35);
  }
  /* --==Main==-- */
  main > div{
    gap: 15px;
    width: calc(100% - 30px);
    padding: 15px 0 57px;
  }

  /* --==Main Content==-- */
  .Main-Content .Main-Div{ padding: 17px; }

  /* --==Information==-- */
  /* User */
  .User{ gap: 15px; }
  .User h2{ margin: 0; }
  .User img{ width: 100px; }

  /* --==Portfolio==-- */
  .Portfolio section:not(:last-child){ margin-bottom: 30px; }

  /* --==Course==-- */
  .Subjects{ grid-template-columns: 1fr; }
  /* --==Course Modals==-- */
  .course-modal button{ right: 20px; }
  .course-modal .layout{
    width: calc(100% - 30px);
    padding: 15px;
  }
  .course-modal .gallery{ grid-template-columns: 1fr; }
  .course-modal table td,
  .course-modal table th{ padding: 3px; }
  /* --==Contact==-- */
  /* Form */
  .Form{ flex-direction: column; }
  .Form .Inputs div{
    display: flex;
    flex-direction: column;
  }
  .Form img{ margin-inline: auto; }
}
/* 788 */
